.contenedor-tabla {
  text-align: center;
}

.titulo {
  color: white;
  font-weight: bold;
  align-content: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

thead {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

tbody {
  color: white;
}

/* Home */

.boton1:hover {
  background-color: rgb(100, 154, 255);
  color: white;
}

.boton2:hover {
  background-color: rgb(183, 132, 255);
  color: white;
}

.boton1 {
  background-color: rgb(181, 207, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton2 {
  background-color: rgb(227, 207, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-carro {
  margin-top: 10%;
  align-items: center;
}

.contenedor-carro img:nth-child(1) {
  width: 90%;
}

.contenedor-carro img:nth-child(2) {
  margin-top: 12%;
  margin-left: 10%;
  width: 90%;
}

.contenedor-carro img:nth-child(3) {
  margin-top: 5%;
}

/* Fondo de los registros */
.posts {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(https://img.freepik.com/free-vector/gradient-blur-pink-blue-abstract-background_53876-117324.jpg?w=900&t=st=1675188227~exp=1675188827~hmac=46e28bebc82abe965c3310ec23e2a551abbe1a63dc203e920773f30300c5855c)
    no-repeat center center fixed;
  background-size: cover;
}

.container {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0px 0px 29px 2px rgba(0, 0, 0, 0.31);
  padding: 30px 20px;
}
