@tailwind base;
@tailwind components;
@tailwind utilities;

.boton1:hover {
  background-color: rgb(0, 110, 255);
}

.boton2:hover {
  background-color: rgb(60, 60, 60);
}

.boton1{
  background-color: rgb(17, 61, 145);
  border-radius: 5%;
}

.boton2{
  background-color: rgb(29, 29, 29);
  border-radius: 5%;
}

.imgCarro {

}

.contenedor-carro {
    margin-top: 10%;
    align-items: center;
}


.contenedor-carro img:nth-child(1) {
    width: 90%;
}


.contenedor-carro img:nth-child(2) {
  margin-top: 12%;
  margin-left: 10%;
  width: 90%;
}

.contenedor-carro img:nth-child(3) {
  margin-top: 5%;
  
}
